<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome to Admin's Page</h1><br>
    <li><a href="{% url 'add_user' %}">Add User</a></li>
    <li><a href="{% url 'add_api' %}">Add Api</a></li>
    <li><a href="{% url 'remove_user' %}">Remove User</a></li>
    <li><a href="{% url 'update_user' %}">Update User</a></li>
    <li><a href="{% url 'remove_api' %}">Remove Api</a></li>
    <li><a href="{% url 'update_api' %}">Update Api</a></li>
    <li><a href="{% url 'view_api' %}">View Api</a></li>
</body>
</html>